/* dang nhap */
.logo{
    display: flex;
    width: 170px;
    height: 136px;
    padding: 0px 0px 0.044px 0.479px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-top: 60px;
  }
  .btnDN{
    background-color: orange;
    color: white
  }
  
  .left{
    
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .bgLeft{
    width: 550px;
    float: left;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 16px;
    background-color: rgb(246,246,246,1);
    height: 700px !important;
  }
  
  .right{
    width: 848px;
    height: 745px;
    flex-shrink: 0;
  }
  
  .btnDN{
    display: flex;
    width: 162px;
    height: 40px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    border: orange;
    border-radius: 8px;
    background: var(--orange-orange-400, #FF9138);
    box-shadow: 0px 0px 6px 0px #E7E9F2;
    margin-top: 50px;
    margin-left: 120px;
    font-weight: bold;
  }
  .lbForgetPW{
    color: var(--red, #E73F3F);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    width: 200px;
    margin-left: 100px;
    
  }
  .lbLoiTDNMK{
    color: var(--red, #E73F3F);
    font-family: Nunito;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
  }

  .fontFamily{
    font-family: Nunito,sans-serif;
  }

  /* dat lai mk */
  .logo{
    display: flex;
    width: 170px;
    height: 136px;
    padding: 0px 0px 0.044px 0.479px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-top: 60px;
  }
  .btnDN{
    background-color: orange;
    color: white
  }
  
  .left{
    
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .DNLeft{
    width: 550px;
    float: left;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 16px;
    background-color: rgb(246,246,246,1);
    height: 745px;
  }
  
  .right{
    width: 848px;
    height: 745px;
    float: right;
  }

  .datlaimk{
    width: 170px;
    height: 24px;
    flex-shrink: 0;
    color: var(--gray-gray-500, #282739);
    /* 22/22 Bold */
    font-family: Nunito,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    margin-top: 120px;
    margin-bottom: 0px;
    margin-left: 120px;
  }

  .btnDLMK{
    margin: 30px 30px 50px 40px;
  }

  .btnHuy{
    display: flex;
    width: 162px;
    height: 40px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--orange-orange-400, #FF9138);
    box-shadow: 0px 0px 6px 0px #E7E9F2;
    color: #FF9138;
    margin-right: 15px;
  }

  .btnTiepTuc{
    display: flex;
    width: 162px;
    height: 40px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--orange-orange-400, #FF9138);
    /* down */
    box-shadow: 0px 0px 6px 0px #E7E9F2;
    color: #E7E9F2;
  }

  .h2{
    width: 800px;
    height: 741.5px;
    margin-left: 0px;
    border: none;
    margin-bottom: 0px;
  }

  /* dat lai mk moi */

  .btnXacNhan{
    display: flex;
width: 162px;
height: 40px;
padding: 10px 24px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: var(--orange-orange-400, #FF9138);
font-family: Nunito,sans-serif;
/* down */
box-shadow: 0px 0px 6px 0px #E7E9F2;
color: #E7E9F2;
font-weight: bold;
margin-left: 130px;
margin-top: 20px;
  }

.DNRight{
  width: 500px;
  height: 600px;
}


.h1{
  position: relative;
  z-index: 1;
  margin-left: 100px;
  margin-top: 70px;
  width: 700px;
  height: 600px;
}

.pHT{
  margin-left: -390px;
  margin-top: 300px;
margin-bottom: 0px;
  color: var(--orange-orange-500, #FF7506);
text-align: center;

/* 34/34 Reg */
font-family: Nunito, sans-serif;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: 51px; /* 150% */
}

.pQLXH{
  margin-left: -270px;
  margin-top: 0px;
  color: var(--orange-orange-500, #FF7506);
text-align: center;
/* 36/36 Xbold */
font-family: Nunito, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 54px; /* 150% */

}

.chuTren{
  position: relative;
  z-index: 2;
}