/* hietbi.css */
.nDanhSachTB{
    color: var(--orange-orange-500, #FF7506);
    /* 24/24 Bold */
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    margin-left: -915px;
}

.kcTrangThai{
   margin-left: 50px;
}

.nTrangThaiHD{
  margin-left: 10px;
}

.kcTrangThaiKNTB{
   margin-left: 50px;
}

.nTrangThaiKNTB{
  margin-left: -130px;
}

.kcTuKhoaTB{
  margin-left: 230px;
  margin-top: -5px;
}

.nTuKhoaTB{
  margin-left: -180px;
}

.btnThemTB{
  color: var(--orange-orange-500, #FF7506);
  text-align: center;
  font-family: Nunito, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 90px;
  height: 80px;
  border-radius: 8px 0px 0px 8px;
  background: var(--orange-orange-50, #FFF2E7);
  margin-left: 55px;
  margin-top: 30px;
  /* down */
  box-shadow: 0px 0px 6px 0px #E7E9F2;
}

.bangThietBi{
  width: 1030px;
  margin-left: 50px;
  margin-top: 30px;
}

.custom-table .ant-table-thead th {
    background-color: orange !important; /* Màu cam cho phần thead */
    color: white; /* Màu chữ cho phần thead */
  }


  .ant-table-thead th[data-key='chiTiet'],
.ant-table-thead th[data-key='capNhat'] {
  background-color: orange !important;
}

.custom-table tbody tr:nth-child(even) {
    background: var(--orange-orange-50, #FFF2E7);
  }  

/* pagination.css */
.custom-pagination .ant-pagination-item-active a {
  background-color: rgb(255, 169, 47);
  color: rgb(245, 245, 245);
  border: 1px solid orange;
  border-radius: 7px;
}

.ant-pagination .ant-pagination-item,
.ant-pagination .ant-pagination-prev,
.ant-pagination .ant-pagination-next {
  border: none;
}


