/* chi tiết dịch vụ */
.scTTDVLeft{
    width: 380px;
   height: 550px;
    flex-shrink: 0;
    border-radius: 12px;
        background: var(--white, #FFF);
        margin-left: 40px;
        /* Shadowbox */
        box-shadow: 2px 2px 8px 0px rgba(232, 239, 244, 0.80);
}

.lbTTTBcssDV{
    margin-left: -180px;
    color: var(--orange-orange-500, #FF7506);
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
padding-top: 20px;
margin-bottom: 0px;
margin-top: 0px;
}

.kcTTDVcssDV{
    margin-left: 20px;
}

.lbQTCScssDV{
    margin-left: -200px;
    color: var(--orange-orange-500, #FF7506);
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
padding-top: 10px;
margin-top: 0px;
}

.kcQTCS2{
    margin-left: 20px;
}

.lbID{
    font-weight: 600;
    margin-right: 10px;
}

.lbID2{
    font-weight: 600;
}

.drTCcssDV{
    display: flex;
    width: 100px;
    height: 44px;
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-left:-30px;
    border-radius: 8px;
    border: 1.5px solid var(--gray-gray-100, #D4D4D7);
    background: var(--white, #FFF);
}

.scTTDVRight{
    width: 670px;
height: 550px;
flex-shrink: 0;
border-radius: 12px;
background: var(--white, #FFF);
margin-left: 20px;
/* Shadowbox */
box-shadow: 2px 2px 8px 0px rgba(232, 239, 244, 0.80);
}

.btnCNDScssDV{
    height: 100px;
    width: 90px;
    background: var(--orange-orange-50, #FFF2E7);
    color: var(--orange-orange-500, #FF7506)
}