.logo{
    display: flex;
    width: 170px;
    height: 136px;
    padding: 0px 0px 0.044px 0.479px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 60px;
    margin-left: 120px;
    margin-top: 60px;
  }
  .btnDN{
    background-color: orange;
    color: white
  }
  
  .left{
    
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .bgLeft{
    width: 550px;
    float: left;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 16px;
    background-color: rgb(246,246,246,1);
    height: 745px;
  }
  
  .right{
    width: 848px;
    height: 745px;
    float: right;
  }

  .datlaimk{
    width: 170px;
    height: 24px;
    flex-shrink: 0;
    color: var(--gray-gray-500, #282739);
    /* 22/22 Bold */
    font-family: Nunito,sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px; /* 150% */
    margin-top: 120px;
    margin-bottom: 0px;
    margin-left: 120px;
  }

  .btnDLMK{
    margin: 30px 30px 50px 40px;
  }

  .btnHuy{
    display: flex;
    width: 162px;
    height: 40px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--orange-orange-400, #FF9138);
    box-shadow: 0px 0px 6px 0px #E7E9F2;
    color: #FF9138;
    margin-right: 15px;
  }

  .btnTiepTuc{
    display: flex;
    width: 162px;
    height: 40px;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--orange-orange-400, #FF9138);
    /* down */
    box-shadow: 0px 0px 6px 0px #E7E9F2;
    color: #E7E9F2;
  }

  .h2{
    width: 800px;
    height: 741.5px;
    margin-left: 0px;
    border: none;
    margin-bottom: 0px;
  }