.nBieuDoCS{
    color: var(--orange-orange-500, #FF7506);
    /* 24/24 Bold */
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    margin-left: -1000px;
}

.c1{
    width: 170px;
    background-color: white;
    margin-left: 20px;
    height: 110px;
}

.tron1{
    /* margin-top: 10px */
}

.i1{
    margin-left: -35px;
    margin-top: 10px;
}

.cc1{
    margin-left: 20px;
    margin-top: 10px;
}

.ccc1{
    margin-top: 60px;
    margin-left: -100px;
    /* 30/30 Bold */
    font-family: Nunito, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 150% */
    color: #414141;
}

.cccc1{
    border-radius: 7.181px;
    background: rgba(255, 149, 1, 0.15);
    color: var(--orange-orange-400, #FF9138);
    font-family: Nunito, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    height: 20px;
    margin-top: 65px;
    margin-left: 60px;
    padding: 2px;
}

.c2{
    width: 170px;
    background-color: white;
    margin-left: 20px;
    height: 110px;
}

.tron2{
    margin-top: 10px;
    margin-left: 10px;
}

.i2{
    margin-left: -37px;
    margin-top: 23px;
}

.cc2{
    margin-left: 20px;
    margin-top: 20px;

}

.ccc2{
    margin-top: 80px;
    margin-left: -120px;
    /* 30/30 Bold */
    font-family: Nunito, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: #414141;
}

.cccc2{
    border-radius: 7.181px;
    background: rgba(231, 63, 63, 0.15);
    color: var(--red, #E73F3F);
    font-family: Nunito, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    height: 20px;
    margin-top: 75px;
    margin-left: 70px;
    padding: 2px;
}

.c3{
    width: 170px;
    background-color: white;
    margin-left: 20px;
    height: 110px;
}

.tron3{
    margin-top: 10px;
    margin-left: 10px;
}

.i3{
    margin-left: -35px;
    margin-top: 20px;
}

.cc3{
    margin-left: 20px;
    margin-top: 20px;
}

.ccc3{
    margin-top: 80px;
    margin-left: -100px;
    font-family: Nunito, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: #414141;
}

.cccc3{
    border-radius: 7.181px;
    background: rgba(255, 149, 1, 0.15);
    color: var(--orange-orange-400, #FF9138);
    font-family: Nunito, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    height: 20px;
    margin-top: 75px;
    margin-left: 60px;
    padding: 2px;
}

.c4{
    width: 170px;
    background-color: white;
    margin-left: 20px;
    height: 110px;
}

.tron4{
    margin-top: 10px;
    margin-left: 10px;
}

.i4{
    margin-left: -35px;
    margin-top: 23px;
}

.cc4{
    margin-left: 25px;
    margin-top: 20px;
}

.ccc4{
    margin-top: 80px;
    margin-left: -110px;
    font-family: Nunito, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    color: #414141;
}

.cccc4{
    border-radius: 7.181px;
    background: rgba(231, 63, 63, 0.15);
    color: var(--red, #E73F3F);
    font-family: Nunito, sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    height: 20px;
    margin-top: 75px;
    margin-left: 70px;
    padding: 2px;
}

.bgThongKe{
    background-color: white;
    margin-left: 20px;
    margin-top: 15px;
    width: 737px;
    height: 440px;
    position: relative;
    z-index: 1;
}

.slThang{
    margin-top: 15px;
    width: 100px;
}

.nChonThang{
    display: flex;
    margin-left: 270px;
}

.nXemTheo{
    margin-right: 5px;
    color: var(--gray-gray-500, #282739);
    /* 16/16 Semi */
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.nTKTC{
    color: var(--gray-gray-500, #282739);
    margin-left: 20px;
    /* 20/20 Bold */
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 150% */
    margin-bottom: 0px;

}

.nNam{
    color: var(--gray-gray-200-placeholder, #A9A9B0);
    /* 14/14 Reg */
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    margin-top: 0px;
    margin-left: -600px !important;
}

.dasRight{
    width: 450px;
    height: 713px;
    background-color: white;
    margin-left: 20px;
    margin-top: -150px;
    position: relative;
    z-index: 1;
    
}

.area{
    margin-top: 30px;
}

.nTongQuan{
    color: var(--orange-orange-500, #FF7506);
    margin-top: 90px;
    margin-left: -270px;
    /* 24/24 Bold */
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    margin-bottom: 10px;
}

.v1{
    margin-left: -320px;
    margin-bottom: 5px;
}

.vm1{
    margin-left: -55px;  
    position: relative;
    z-index: 1;
}

.vmm1{
    margin-top: -1200px !important;
    margin-left: -20px;
     position: relative;
    z-index: 2;
}

.vmm2{
    margin-top: -900px;
}

.pt1{
    margin-top: -40px;
    margin-left: -320px;
}

.nSoTB{
    color: var(--gray-gray-400-text, #535261);
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px; /* 150% */
    margin-bottom: 0px;
    margin-top: -10px;
    margin-left: -160px;
}

.nTBTC{
    color: var(--orange-orange-500, #FF7506);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
    margin-left: -115px;
    margin-top: 30px;
}

.nTBHDTC{
    color: var(--gray-gray-300, #7E7D88);
    font-family: Nunito, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 175% */
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nSoTBHDTC{
    color: var(--orange-orange-500, #FF7506);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
     margin-top: 0px;
    margin-bottom: 0px;
}

.nTBNHDTC{
    color: var(--gray-gray-300, #7E7D88);
    font-family: Nunito, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 175% */
    margin-right: 10px;
}

.nSoTBNHDTC{
    color: var(--orange-orange-500, #FF7506);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
}

.p3TBTC{
    margin-left: 50px;
}

.rn1{
border-radius: 12px;
background: var(--white, #FFF);
box-shadow: 2px 2px 5px 0px rgba(70, 64, 67, 0.10);
width: 400px;
margin-bottom: 0px;

}

.rn2{
border-radius: 12px;
background: var(--white, #FFF);
box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10);
width: 400px;
margin-top: 10px;
}

.nDVTC{
    color: var(--blue, #4277FF);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
    margin-left: -115px;
    margin-top: 30px;
}

.nDVHDTC{
    color: var(--gray-gray-300, #7E7D88);
    font-family: Nunito, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 175% */
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nSoDVHDTC{
    color: var(--blue, #4277FF);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
     margin-top: 0px;
    margin-bottom: 0px;
}

.nSoDVNHDTC{
    color: var(--blue, #4277FF);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 175% */
    margin-right: 10px;
}


.rn3{
border-radius: 12px;
background: var(--white, #FFF);
box-shadow: 2px 2px 5px 0px rgba(70, 64, 67, 0.10);
width: 400px;
margin-top: 10px;
height: 80px;
}

.nCSTC{
    color: var(--green, #35C75A);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px; /* 150% */
    margin-left: -115px;
    margin-top: 30px;
}

.nSoCSHDTC{
    color: var(--green, #35C75A);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
     margin-top: 0px;
    margin-bottom: 0px;
}

.nSoCSDCTC{
    color: var(--green, #35C75A);
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 175% */
    margin-right: 10px;
   
}

.calendar{
    width: 400px;
    margin-top: -5px;

}

