/* themtk */
.nHoTen{
    margin-left: -360px;
  }
  
  .ipHoTen{
    width: 450px;
     margin-left: 30px;
  }
  
  .kcTenDN{
    margin-left: 50px;
  }
  
  .nTenDN{
    margin-left: -370px !important;
  }
  
  .ipTenDN{
    width: 500px;
  }
  
  .nSoDT{
    margin-left: -320px;
  }
  
  .ipSoDT{
    width: 450px;
    margin-left: 30px;
  }
  
  .kcMatKhau{
    margin-left: 50px;
  }
  
  .nMatKhau{
    margin-left: -400px !important;
  }
  
  .ipMatKhau{
   width: 500px;
  }
  
  .nEmail{
    margin-left: -370px;
  }
  
  .ipEmail{
    width: 450px;
    margin-left: 30px;
  }
  
  .kcNhapLaiMK{
    margin-left: 70px;
  }
  
  .nNhapLaiMK{
    margin-left: -370px;
  }
  
  .ipNhapLaiMK{
    width: 500px;
    margin-left: -15px;
  }
  
  .kcVaiTroThem{
    margin-left: 30px;
  }
  
  .nVaiTroThem{
    margin-left: -400px;
  }
  
  .kcTinhTrang{
    margin-left: 50px;
  }
  
  .nTinhTrang{
    margin-left: -410px;
  }
  
  .nBatBuoc{
    color: var(--gray-gray-300, #7E7D88);
    margin-left: -850px;
    /* 14/14 Reg */
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
  }
  
  .btnHuyBo{
    border-radius: 8px;
    border: 1.5px solid var(--orange-orange-400, #FF9138);
    background: var(--orange-orange-50, #FFF2E7);
    height: 45px;
    /* down */
    box-shadow: 0px 0px 6px 0px #E7E9F2;
    width: 150px;
    height: 45px;
    color: var(--orange-orange-400, #FF9138);
    font-family: Nunito, sans-serif !important;
    margin-top: 20px;
    margin-right: 20px;
  }
  
  .btnThem{
    border-radius: 8px;
    background: var(--orange-orange-400, #FF9138);
    color: var(--white, #FFF);
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    width: 150px;
    line-height: normal;
    height: 45px;
    /* down */
    box-shadow: 0px 0px 6px 0px #E7E9F2;
    margin-left: 0px;
    margin-top: 20px;
  }