/* Ghi đè lên các lớp của Ant Design Popover */
.custom-popover .ant-popover-inner-content {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .custom-popover .ant-popover-inner {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  .custom-popover .ant-popover-title {
    background-color: orange;
    padding: 10px;
    color: white;
    margin: 0 !important;
  }
  
  
  .mauChuND {
    color: var(--orange-orange-600, #BF5805);
    font-family: Nunito, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0px;
  }
  
  /* Tạo viền bo tròn cho popover */
  .custom-rounded-popover .ant-popover-content {
    border-radius: 8px;
  }
  
  .custom-rounded-popover .ant-popover-title {
    background-color: orange;
    padding: 10px;
    color: white;
    margin: 0;
    font-size: 20px;
  }

  
  
  
  
  
  