.ddTB{
    color: rgb(126, 125, 136,1);
    font-weight: 600;
    margin-top: 30px;
    margin-right: 10px;
}

.ddDSTB{
    color: var(--orange-orange-500, #FF7506);
    /* 20/20 Bold */
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    margin-top: 23px;
}

.ddChung{
    margin-left: 50px;
}

.tieude{
    color: var(--orange-orange-500, #FF7506);
    /* 24/24 Bold */
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    margin-left: -915px;

}



.drHD{
    display: flex;
width: 300px;
height: 44px;
padding: 10px 12px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;

border-radius: 8px;
border: 1.5px solid var(--gray-gray-100, #D4D4D7);
background: var(--white, #FFF);
}

.btnTTB{
    color: var(--orange-orange-500, #FF7506);
    text-align: center;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 90px;
    height: 80px;
    border-radius: 8px 0px 0px 8px;
    background: var(--orange-orange-50, #FFF2E7);
    margin-left: 55px;
    margin-top: 30px;
    /* down */
    box-shadow: 0px 0px 6px 0px #E7E9F2;
}

.custom-table .ant-table-thead th {
    background-color: orange !important; /* Màu cam cho phần thead */
    color: white; /* Màu chữ cho phần thead */
  }


  .ant-table-thead th[data-key='chiTiet'],
.ant-table-thead th[data-key='capNhat'] {
  background-color: orange !important;
}

.custom-table tbody tr:nth-child(even) {
    background: var(--orange-orange-50, #FFF2E7);
  }  

/* them tbi */
.ttQLTB{
    color: var(--orange-orange-500, #FF7506);
    /* 24/24 Bold */
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    margin-left: -950px;
}

.scTTB{
    background-color:rgb(255,255,255,1);
     width:1100px;
      height:470px;
      margin-left: 50px;
      margin-bottom: 10px;
}

.btnHuyBo{
    border-radius: 8px;
border: 1.5px solid var(--orange-orange-400, #FF9138);
background: var(--orange-orange-50, #FFF2E7);
height: 45px;
/* down */
box-shadow: 0px 0px 6px 0px #E7E9F2;
width: 150px;
height: 45px;
color: var(--orange-orange-400, #FF9138);
font-family: Nunito, sans-serif !important;
margin-top: 20px;
margin-right: 20px;
}

.scbtnTTB{
    border-radius: 8px;
background: var(--orange-orange-400, #FF9138);
color: var(--white, #FFF);
font-family: Nunito, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
width: 150px;
line-height: normal;
height: 45px;
/* down */
box-shadow: 0px 0px 6px 0px #E7E9F2;
margin-left: 0px;
margin-top: 20px;
}

.lbTTTB{
    color: var(--orange-orange-500, #FF7506);
margin-left: -900px;
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
padding-top: 15px;
margin-bottom: 0px;
}

.custom-dropdown-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-size: 14px;
    width: 500px; /* Độ dài cố định */
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
  }
  
  .custom-dropdown-button:hover {
    background-color: #f0f0f0;
    
  }

  .ttbatbuoc{
    color: var(--gray-gray-300, #7E7D88);

/* 14/14 Reg */
font-family: Nunito, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
  }
  
/* trang chi tiết thiết bị */
  .chuCTTBID{
    font-weight: 600;
    margin-right: 10px;
  }



/* thêm dịch vụ */
.qtCapSo{
  color: var(--orange-orange-500, #FF7506);
margin-left: -900px;
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
margin-bottom: 0px;
}

.qtcsKC{
  margin-left: 30px;
}

.scThemDV{
  background-color:rgb(255,255,255,1);
  width:1100px;
   height:480px;
   margin-left: 50px;
   margin-bottom: 10px;
}

.ddTB{
    color: rgb(126, 125, 136,1);
    font-weight: 600;
    margin-top: 30px;
    margin-right: 10px;
}

.ddDSTB{
    color: var(--orange-orange-500, #FF7506);
    /* 20/20 Bold */
    font-family: Nunito, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    margin-top: 23px;
}

.ddChung{
    margin-left: 50px;
}

.tieude{
    color: var(--orange-orange-500, #FF7506);
    /* 24/24 Bold */
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    margin-left: -915px;

}



.drHD{
    display: flex;
width: 300px;
height: 44px;
padding: 10px 12px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;

border-radius: 8px;
border: 1.5px solid var(--gray-gray-100, #D4D4D7);
background: var(--white, #FFF);
}

.btnTTB{
    color: var(--orange-orange-500, #FF7506);
    text-align: center;
    font-family: Nunito, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 90px;
    height: 80px;
    border-radius: 8px 0px 0px 8px;
    background: var(--orange-orange-50, #FFF2E7);
    margin-left: 55px;
    margin-top: 30px;
    /* down */
    box-shadow: 0px 0px 6px 0px #E7E9F2;
}

.custom-table .ant-table-thead th {
    background-color: orange !important; /* Màu cam cho phần thead */
    color: white; /* Màu chữ cho phần thead */
  }


  .ant-table-thead th[data-key='chiTiet'],
.ant-table-thead th[data-key='capNhat'] {
  background-color: orange !important;
}

.custom-table tbody tr:nth-child(even) {
    background: var(--orange-orange-50, #FFF2E7);
  }  

/* them tbi */
.ttQLTB{
    color: var(--orange-orange-500, #FF7506);
    /* 24/24 Bold */
    font-family: Nunito, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    margin-left: -950px;
}

.scTTB{
    background-color:rgb(255,255,255,1);
     width:1100px;
      height:470px;
      margin-left: 50px;
      margin-bottom: 10px;
}

.btnHuyBo{
    border-radius: 8px;
border: 1.5px solid var(--orange-orange-400, #FF9138);
background: var(--orange-orange-50, #FFF2E7);
height: 45px;
/* down */
box-shadow: 0px 0px 6px 0px #E7E9F2;
width: 150px;
height: 45px;
color: var(--orange-orange-400, #FF9138);
font-family: Nunito, sans-serif !important;
margin-top: 20px;
margin-right: 20px;
}

.scbtnTTB{
    border-radius: 8px;
background: var(--orange-orange-400, #FF9138);
color: var(--white, #FFF);
font-family: Nunito, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
width: 150px;
line-height: normal;
height: 45px;
/* down */
box-shadow: 0px 0px 6px 0px #E7E9F2;
margin-left: 0px;
margin-top: 20px;
}

.lbTTTB{
    color: var(--orange-orange-500, #FF7506);
margin-left: -900px;
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
padding-top: 15px;
margin-bottom: 0px;
}

.custom-dropdown-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-size: 14px;
    width: 500px; /* Độ dài cố định */
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
  }
  
  .custom-dropdown-button:hover {
    background-color: #f0f0f0;
    
  }

  .ttbatbuoc{
    color: var(--gray-gray-300, #7E7D88);

/* 14/14 Reg */
font-family: Nunito, sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; /* 150% */
  }
  
/* trang chi tiết thiết bị */
  .chuCTTBID{
    font-weight: 600;
    margin-right: 10px;
  }



/* thêm dịch vụ */
.qtCapSo{
  color: var(--orange-orange-500, #FF7506);
margin-left: -900px;
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
margin-bottom: 0px;
}

.qtcsKC{
  margin-left: 30px;
}

.scThemDV{
  background-color:rgb(255,255,255,1);
  width:1100px;
   height:480px;
   margin-left: 50px;
   margin-bottom: 10px;
}

/* chi tiết dịch vụ */
.scTTDVLeft{
    width: 380px;
height: 550px;
flex-shrink: 0;
border-radius: 12px;
background: var(--white, #FFF);
margin-left: 40px;
/* Shadowbox */
box-shadow: 2px 2px 8px 0px rgba(232, 239, 244, 0.80);
}

.lbTTTBcssDV{
    margin-left: -180px;
    color: var(--orange-orange-500, #FF7506);
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
padding-top: 20px;
margin-bottom: 0px;
}

.kcTTDVcssDV{
    margin-left: 20px;
}

.lbQTCScssDV{
    margin-left: -200px;
    color: var(--orange-orange-500, #FF7506);
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
padding-top: 10px;
margin-top: 0px;
}

.kcQTCS2{
    margin-left: 20px;
}

.lbID{
    font-weight: 600;
    margin-right: 10px;
}

.lbID2{
    font-weight: 600;
}

.drTCcssDV{
    display: flex;
    width: 100px;
    height: 44px;
    padding: 10px 12px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-left:-30px;
    border-radius: 8px;
    border: 1.5px solid var(--gray-gray-100, #D4D4D7);
    background: var(--white, #FFF);
}

.scTTDVRight{
    width: 670px;

}

.btnCNDScssDV{
    height: 100px;
    width: 90px;
    background: var(--orange-orange-50, #FFF2E7);
    color: var(--orange-orange-500, #FF7506)
}

.drDvcssCapSo{
    display: flex;
width: 120px;
height: 44px;
padding: 10px 12px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;

border-radius: 8px;
border: 1.5px solid var(--gray-gray-100, #D4D4D7);
background: var(--white, #FFF);
}

.lbCapSoMoi{
color: var(--orange-orange-500, #FF7506);
padding-top: 20px !important;
/* 32/32 Bold */
font-family: Nunito, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 150% */

}

.scCapSoMoi{
background-color:rgb(255,255,255,1);
width:1100px;
 height:480px;
 margin-left: 50px;
 margin-bottom: 50px;
}

.drDVcssCapSoMoi{
display: flex;
width: 300px;
height: 44px;
padding: 10px 12px;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
margin-left: 400px;
border-radius: 8px;
border: 1.5px solid var(--gray-gray-100, #D4D4D7);
background: var(--white, #FFF);
}

.scbtnInso{
border-radius: 8px;
background: var(--orange-orange-400, #FF9138);
color: var(--white, #FFF);
font-family: Nunito, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
width: 100px;
line-height: normal;
height: 45px;
/* down */
box-shadow: 0px 0px 6px 0px #E7E9F2;
margin-left: 0px;
margin-top: 20px;
}

.btnHuyBoCSM{
margin-left: 27px;
    border-radius: 8px;
border: 1.5px solid var(--orange-orange-400, #FF9138);
background: var(--orange-orange-50, #FFF2E7);
height: 45px;
/* down */
box-shadow: 0px 0px 6px 0px #E7E9F2;
width: 100px;
height: 45px;
color: var(--orange-orange-400, #FF9138);
font-family: Nunito, sans-serif !important;
margin-top: 20px;
margin-right: 20px;

}

.btnQuayLaiCTCS{
border-radius: 8px 0px 0px 8px;
background: var(--orange-orange-50, #FFF2E7);
height: 80px;
/* down */
box-shadow: 0px 0px 6px 0px #E7E9F2;
color: var(--orange-orange-500, #FF7506);
display: inline-flex;
padding: 12px 4px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 4px;
margin-left: 15px;
}

/* capsomoi */
.dsCapSo{
color: var(--orange-orange-500, #FF7506);
text-decoration: none;
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
}

.nQuanLyCS{
  color: var(--orange-orange-500, #FF7506);
margin-left: -900px;
/* 20/20 Bold */
font-family: Nunito, sans-serif;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
padding-top: 15px;
margin-bottom: 10px;
margin-left: -970px;
}